h1 {
    user-select: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

canvas {

    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 35%;
}

